In [1]:
import pandas as pd

##loading and reading  first five rows of adult data csv
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
##how many people of each race are represented in the data set as a pandas series
race_count = df.race.value_counts()
race_count
# race_count = df['race'].value_counts()
# race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [3]:
##Average age of men
av_age_of_male = round(df[df.sex == 'Male'].age.mean(),1)
av_age_of_male

39.4

In [4]:
##percentage of Bachelor's degree
Bachelors_degree_percent = round(len(df[df['education'] == 'Bachelors']) / len(df.index) * 100,1)
Bachelors_degree_percent

16.4

In [5]:
#people with advanced education: bachelors, masters and doctorate (higher education)
advanced_education =((df["education"] == 'Bachelors')  | (df["education"] == 'Masters' ) | (df["education"] == 'Doctorate'))

#people earning salary of  > 50K
salary_greaterthan_50k = (df["salary"] == '>50K')

#peple with bachelors, masters and doctorate (higher education) earning > 50K
higher_education = df[salary_greaterthan_50k & advanced_education ]  

#peple without bachelors, masters and doctorate earning > 50K
lower_education = df[salary_greaterthan_50k & ~advanced_education]

In [6]:
# percentage of people with advanced education earning > 50K
advanced_ed_percent = round((len(higher_education.index) / len(df[advanced_education]))* 100,1)
advanced_ed_percent

46.5

In [7]:
# percentage of people without advanced education earning > 50K
without_advanced_ed_percent = round((len(lower_education) / len(df[~advanced_education])) * 100,1)
without_advanced_ed_percent

17.4

In [8]:
#minimum number of hours a person works per week
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [9]:
#dataframe of people working min number of hours per week
num_min_workers = df[df['hours-per-week'] == min_work_hours]

#people earning salary of  > 50K
salary_greaterthan_50k = (df['salary'] == '>50K')

# total number of people working
len(df)

# percentage of the people who work the minimum number of hours per week have a salary of more than 50K
percentage_min_hours = round( len(df[df['hours-per-week'] == min_work_hours  & salary_greaterthan_50k ].index) *100 /len(df[df['hours-per-week'] == min_work_hours ]),1)
percentage_min_hours

10.0

In [10]:
#percentage of countries that earn >50k 
countries_earning_50K = round((df[salary_greaterthan_50k]['native-country'].value_counts()) / (df['native-country'].value_counts()) * 100,1)
countries_earning_50K

# country that has highest 50k earners
#.idxmax() used to find the index (or label) of the maximum value in a Series or DataFrame
specific_country_50k = countries_earning_50K.idxmax()
specific_country_50k

'Iran'

In [11]:
# percentage of country that has highest 50k earners
specific_country_50k_percentage = countries_earning_50K.max()
specific_country_50k_percentage

41.9

In [12]:
# the most popular occupation for those who earn >50K in India.

# pandas Series than outputs count of most popular indian occupations earning >50k
indian_50k = df[(salary_greaterthan_50k )& (df['native-country'] == 'India')].occupation.value_counts()
indian_50k

# the most popular occupation
indian_50k.idxmax()

'Prof-specialty'